/* Mixins */
.category-menu .navbar-left, .navbar .navContainer, .footer .newsletter .container, .footer .footer-branding .container, .footer .footer-branding .container .social-links, .footer .footer-branding .container .text-links, .footer .disclaimer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

/* General Site Branding */
/* ======================= COLORS ===================== */
/* ======================= JUMBROTRONS ===================== */
.jumbotron-content {
  background: rgba(102, 102, 102, 0.35);
  border: 6px solid #fff;
  text-align: center;
  padding: 25px;
  margin-top: 110px; }
  .jumbotron-content h1 {
    font-size: 35pt;
    padding: 0 15px 15px 15px; }
  .jumbotron-content h1.white {
    color: #fff; }
  .jumbotron-content p {
    font-size: 14pt; }

.hero img {
  margin: 0 auto -40px auto;
  display: block;
  max-width: 100%;
  height: auto; }

.hero.container {
  padding-left: 0px;
  padding-right: 0px; }

/* ======================= FONTS ===================== */
body {
  font-family: 'Raleway', sans-serif;
  color: #4f4f4f; }

/* ======================= BUTTONS ===================== */
.btn {
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.green-btn {
  color: #fff;
  background-color: #39ab61; }
  .green-btn:hover, .green-btn:active {
    background-color: #55c97b;
    color: #fff; }

.blue-btn {
  color: #fff;
  background-color: #2A94D6; }
  .blue-btn:hover, .blue-btn:active {
    background-color: #47B4EA;
    color: #fff; }

.btn-xs {
  padding: 5px 15px;
  font-size: 11px; }

/* ======================= TYPOGRAPHY ===================== */
h1 {
  padding: 25px 0; }

h3 {
  line-height: 1.3;
  font-weight: 300; }

h4, h5 {
  font-weight: 600; }

a {
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover, a:active {
    text-decoration: none; }
  a.gray-link {
    color: #4f4f4f; }
    a.gray-link:hover, a.gray-link:active {
      color: #39ab61; }
  a.green-link {
    color: #39ab61; }
    a.green-link:hover, a.green-link:active {
      color: #55c97b; }

.bold-text {
  font-weight: 700; }

/* ====================== IMAGES ========================== */
.img-responsive {
  margin: 0 auto 0px auto; }

/* ======================= STRUCTURE ===================== */
.advertisements {
  padding: 50px 0 50px 0; }
  .advertisements img {
    padding: 0 0 25px 0; }

.extraColPadding {
  padding: 0 20px 0 0; }

/* Site Structure */
/* TOP BLUE NAVIGATION BAR */
.category-menu {
  background-color: #2A94D6;
  color: #fff;
  height: 50px; }
  .category-menu .navbar-left {
    text-transform: uppercase;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .category-menu .navbar-right {
    margin-right: 0; }
  .category-menu a {
    color: #fff; }
  .category-menu .nav > li.current {
    background-color: #47B4EA; }
  .category-menu .nav > li > a {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .category-menu .nav > li > a:hover, .category-menu .nav > li > a:focus {
      text-decoration: none;
      background-color: #47B4EA;
      color: #fff; }

/* MAIN NAV WITH LOGO */
.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.9); }

.dropdown:hover .dropdown-menu {
  display: block; }

.navbar {
  border: none;
  margin: 0;
  height: 65px; }
  .navbar .container {
    height: 65px; }
  .navbar .navContainer {
    min-height: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 100%; }
  .navbar .navbar-brand {
    height: 28px;
    width: 160px;
    background: url("img/cumulus-logo.png") no-repeat;
    margin: -5px 30px 0 0; }
  .navbar .navbar-nav > li > a {
    color: #2A94D6;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      color: #47B4EA; }
    .navbar .navbar-nav > li > a.current {
      color: #47B4EA; }
  .navbar .login {
    margin-left: auto; }

/* MOBILE FLY OUT MENU HOLLA ! */
/* Navigation Button */
a.nav-expander {
  background: none repeat scroll 0 0 #2A94D6;
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  font-weight: 400;
  height: 65px;
  margin: 0;
  padding: 1em 1em 2em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 80px;
  z-index: 12;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s; }

a.nav-expander:hover {
  cursor: pointer; }

a.nav-expander.fixed {
  position: fixed; }

.nav-expanded a.nav-expander.fixed {
  right: 15em; }

/*Off Canvas Menu Styling */
.mobile-nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s; }
  .mobile-nav .navbar-brand {
    height: 28px;
    background: url("img/cumulus-logo-gray.png") no-repeat;
    width: 160px;
    margin: 20px; }
    .mobile-nav .navbar-brand:hover {
      background: url("img/cumulus-logo-white.png") no-repeat; }

.nav-expanded .mobile-nav {
  right: 0; }

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s; }

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px; }
  #nav-close .glyphicon {
    opacity: 1;
    margin: 0 0.5em 0 0; }
    #nav-close .glyphicon:hover {
      margin: 0 0.5em 0 0; }

/* Mobile Menu and animations on hover */
.main-menu {
  padding-top: 12px; }

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px; }

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none; }

.main-menu li a:hover {
  color: #fff;
  text-decoration: none; }

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
  font-size: 14px;
  margin-left: 10px; }

.main-menu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px; }

.main-menu a:hover .caret {
  border-top-color: #4f5963; }

.main-menu li.open > a > .caret {
  border-top: none;
  border-bottom: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.main-menu li.open > a:hover > .caret {
  border-bottom-color: #4f5963; }

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105'; }

.main-menu li > a > span.glyphicon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.main-menu li > a:hover > span.glyphicon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1; }

/* Sticky footer styles -----
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }
  .footer .newsletter {
    background-color: #D8D8D8; }
    .footer .newsletter .container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      height: 60px; }
      .footer .newsletter .container .newsletter-icon {
        width: 34px;
        height: 23px;
        margin-right: 15px;
        background: url("img/newsletter-signup.png") no-repeat; }
      .footer .newsletter .container p {
        margin: 0 15px 0 0; }
      .footer .newsletter .container .form-group {
        margin-bottom: 0px;
        margin-right: 10px; }
  .footer .footer-branding .container {
    min-height: 100%;
    width: 100%;
    background-color: #2A94D6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer .footer-branding .container .footer-logo {
      height: 86px;
      width: 105px;
      background: url("img/cumulus-logo-footer.png") no-repeat;
      margin: 50px 0 30px 0; }
    .footer .footer-branding .container .social-links {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .footer .footer-branding .container .social-links a {
        opacity: 0.7;
        padding: 0;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; }
        .footer .footer-branding .container .social-links a:hover, .footer .footer-branding .container .social-links a:focus {
          opacity: 1;
          background-color: transparent; }
      .footer .footer-branding .container .social-links li {
        padding: 0 10px; }
      .footer .footer-branding .container .social-links .facebook {
        background: url("img/social-facebook.png") no-repeat;
        width: 14px;
        height: 30px; }
      .footer .footer-branding .container .social-links .twitter {
        background: url("img/social-twitter.png") no-repeat;
        width: 30px;
        height: 30px; }
      .footer .footer-branding .container .social-links .mail {
        background: url("img/contact-mail.png") no-repeat;
        width: 30px;
        height: 30px; }
    .footer .footer-branding .container .text-links {
      padding: 25px 0 25px 0;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .footer .footer-branding .container .text-links a {
        color: #fff;
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 5px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .footer .footer-branding .container .text-links a:hover, .footer .footer-branding .container .text-links a:focus {
          text-decoration: none;
          background-color: #47B4EA;
          color: #fff; }
  .footer .disclaimer {
    min-height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #4f4f4f;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px; }
    .footer .disclaimer p {
      margin: 0; }

/* Pages */
/* This is the homepage*/
.homepage-corporate-jumbotron {
  background: url("img/hero-01.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  margin-top: -65px; }

.homepage-retail-jumbotron {
  background: url("img/hero-02.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  margin-top: -65px; }

.intro-content {
  background: #efefef;
  text-align: center;
  padding: 70px 0 75px 0; }
  .intro-content h3 {
    margin-bottom: 20px; }

.banking-categories {
  text-align: center;
  padding: 50px 0;
  background: url("img/bg-diamond.png");
  background-size: 154px 64px; }
  .banking-categories p {
    min-height: 80px; }

.trending-topics {
  background: #efefef;
  padding: 50px 0 75px 0; }
  .trending-topics h2 {
    text-align: center;
    margin-bottom: 35px; }
  .trending-topics p {
    min-height: 65px; }

/* PI Content Recs */
.igo_boxbody {
  overflow: hidden;
  padding: 15px;
  text-align: center; }
  .igo_boxbody .igo_content {
    float: left;
    padding-bottom: 30px;
    width: 33%; }
    .igo_boxbody .igo_content img {
      width: 75%; }
  .igo_boxbody .igo_content_content_title_label,
  .igo_boxbody .igo_content_summary_label {
    display: none; }
  .igo_boxbody .igo_content_content_title_value {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0 5px 0; }

/* Offerings Backgrounds */
.offerings {
  width: 85px;
  height: 85px;
  margin: 0 auto 15px auto; }

.checking {
  background: url("img/offerings-checking.png"); }

.savings {
  background: url("img/offerings-savings.png"); }

.credit-cards {
  background: url("img/offerings-credit-cards.png"); }

.loans {
  background: url("img/offerings-loans.png"); }

.retirement {
  background: url("img/offerings-retirement.png"); }

.business-funding {
  background: url("img/offerings-business-funding.png"); }

.industry-solutions {
  background: url("img/offerings-industry-solutions.png"); }

.cash-management {
  background: url("img/offerings-cash-management.png"); }

.growth-management {
  background: url("img/offerings-growth-management.png"); }

.global-solutions {
  background: url("img/offerings-global-solutions.png"); }

.research {
  background: url("img/offerings-research.png"); }

/* Inside Pages Template
-------------------------------------------------- */
/* ======================= JUMBOTRONs ===================== */
.retail-banking-jumbotron {
  height: 500px;
  background-image: url(img/retail-banking-overview-hero.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
  margin-top: -65px; }

.retail-borrowing-jumbotron {
  height: 500px;
  background-image: url(img/retail-borrowing-overview-hero.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
  margin-top: -65px; }

.retail-investing-jumbotron {
  height: 500px;
  background-image: url(img/retail-investing-overview-hero.jpg);
  background-size: cover;
  background-position: top center;
  margin-bottom: 0px;
  margin-top: -65px; }

.corporate-banking-jumbotron {
  height: 500px;
  background-image: url(img/corporate-banking-overview-hero.jpg);
  background-size: cover;
  background-position: right center;
  margin-bottom: 0px;
  margin-top: -65px; }

.corporate-borrowing-jumbotron {
  height: 500px;
  background-image: url(img/corporate-borrowing-overview-hero.jpg);
  background-size: cover;
  background-position: right center;
  margin-bottom: 0px;
  margin-top: -65px; }

.featured-article-jumbotron {
  height: 500px;
  background-image: url(img/corporate-research-and-insights-hero.jpg);
  background-size: cover;
  background-position: 50% 60%;
  margin-bottom: 0px;
  margin-top: -65px; }

.retail-news-jumbotron {
  height: 500px;
  background-image: url(img/retail-news-hero.jpg);
  background-size: cover;
  background-position: 50% 60%;
  margin-bottom: 0px;
  margin-top: -65px; }

/* ======================= STRUCTURE ===================== */
.inside-intro-content {
  background: url("img/bg-diamond.png");
  text-align: center;
  padding: 50px 0; }
  .inside-intro-content .offerings {
    width: 85px;
    height: 85px;
    margin: 40px auto 0px auto; }
  .inside-intro-content h1 {
    padding: 10px 0; }
  .inside-intro-content h3 {
    margin-top: 0px; }
  .inside-intro-content h4 {
    margin: 20px 0; }

.product-intro {
  margin: 50px auto 25px auto; }
  .product-intro h1 {
    margin-top: 0;
    padding: 10px 0 0 0; }
  .product-intro h3 {
    margin-top: 0px;
    margin-bottom: 20px; }
  .product-intro h4 {
    margin: 20px 0; }

.sidebar {
  background-color: #efefef;
  padding: 15px 25px 25px 25px;
  border: 1px solid #D8D8D8;
  margin-top: 25px; }

.overview-products {
  text-align: center; }

.gray-background-content {
  background: #efefef;
  padding: 50px 0; }

.white-background-content {
  background: #fff;
  padding: 50px 0; }

.research-insights-article {
  padding: 75px 25px; }
  .research-insights-article .row {
    margin-bottom: 25px; }

.form-template {
  background: #efefef; }

.form-intro {
  background: #D8D8D8;
  height: 125px;
  position: relative; }
  .form-intro:after {
    background: linear-gradient(-45deg, #efefef 10px, transparent 0), linear-gradient(45deg, #efefef 10px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 20px 20px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px; }
  .form-intro .form-cloud {
    width: 82px;
    height: 81px;
    background: url("img/cumulus-cloud.png") no-repeat;
    margin: 0 auto;
    position: relative;
    top: 75px;
    z-index: 999; }

.form-control {
  border: 1px solid #efefef;
  border-radius: 25px;
  height: 38px;
  padding: 0 16px;
  -webkit-appearance: none; }

.form-control.contact {
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 16px; }

.form-content {
  background: #efefef;
  text-align: center;
  padding: 50px 0 75px 0; }
  .form-content h2 {
    margin-bottom: 30px; }
  .form-content h4 {
    margin-bottom: 15px; }
  .form-content .new-form-section {
    margin-top: 25px; }
  .form-content p {
    margin-bottom: 30px; }
  .form-content input, .form-content select {
    margin-bottom: 12px; }
  .form-content select {
    background: white url("img/drop-down.png") no-repeat;
    background-position: right center;
    -moz-appearance: none;
    -moz-user-select: none; }

.forgot {
  margin-top: 10px; }

.ty-white-wrapper {
  background: #fff;
  padding: 30px;
  margin-top: 25px; }

/* rob form additions */
/*form styles*/
#msform {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative; }

.moveOver {
  margin-left: 100px; }

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  /*box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);*/
  padding: 20px 50px;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*stacking fieldsets above each other*/
  /* position: absolute;*/ }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#msform input, #msform textarea {
  margin-bottom: 15px; }

#msform input[type="text"], #msform input[type="password"], #msform select {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

/*buttons*/
/*
#msform .action-button {
	width: 100px;
	background: $green;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px $light-gray;
} */
/*headings*/
/*progressbar*/
#progressbar {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  width: 60%; }

#progressbar li {
  list-style-type: none;
  color: #4f4f4f;
  font-size: 14px;
  width: 25%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 42px;
  line-height: 42px;
  display: block;
  font-size: 20px;
  color: white;
  background: #D8D8D8;
  border-radius: 42px;
  margin: 0 auto 5px auto; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #39ab61;
  color: white; }

/* END rob form additions */
.application-template {
  background: #efefef; }

.application-wrapper {
  margin: 75px 0 50px 0;
  padding: 0 30px;
  background: #fff; }

.application-content {
  padding: 30px; }
  .application-content h2, .application-content p.complete {
    padding: 15px 0;
    text-align: center; }

.gray-background-app {
  background: #efefef;
  padding: 18px;
  height: 70px; }

.white-background-app {
  background: #fff;
  padding: 18px;
  height: 70px; }

.app-btns {
  padding: 35px 18px; }

.control-label {
  text-align: right; }

.form-app {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .form-app label {
    margin-bottom: 0px; }

.company {
  background: #efefef; }

.company .body-content {
  padding-bottom: 75px; }

#map-canvas {
  width: 100%;
  height: 600px;
  margin-top: 25px; }

.accounts .banking, .accounts .credit {
  background-color: #3973B6;
  color: #fff; }
.accounts .side-info {
  background-color: #D8D8D8; }
.accounts table tr th {
  padding: 8px 8px 8px 20px;
  vertical-align: middle;
  height: 40px; }
.accounts table tr td {
  padding: 8px 8px 8px 20px;
  line-height: 1.42857;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  height: 50px; }

/* Retina Content */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Branding */
  .navbar .navbar-brand {
    background: url("img/cumulus-logo_2x.png") no-repeat;
    background-size: 160px 28px; }

  .mobile-nav .navbar-brand {
    background: url("img/cumulus-logo-gray_2x.png") no-repeat;
    background-size: 160px 28px; }
    .mobile-nav .navbar-brand:hover {
      background: url("img/cumulus-logo-white_2x.png") no-repeat;
      background-size: 160px 28px; }

  .footer .newsletter .container .newsletter-icon {
    background: url("img/newsletter-signup_2x.png") no-repeat;
    background-size: 34px 23px; }
  .footer .footer-branding .container .footer-logo {
    background: url("img/cumulus-logo-footer_2x.png") no-repeat;
    background-size: 105px 86px; }
  .footer .footer-branding .container .social-links .facebook {
    background: url("img/social-facebook_2x.png") no-repeat;
    background-size: 14px 30px; }
  .footer .footer-branding .container .social-links .twitter {
    background: url("img/social-twitter_2x.png") no-repeat;
    background-size: 30px 30px; }
  .footer .footer-branding .container .social-links .mail {
    background: url("img/contact-mail_2x.png") no-repeat;
    background-size: 30px 30px; }

  /* Banking Offerings */
  .checking {
    background: url("img/offerings-checking_2x.png");
    background-size: 85px 85px; }

  .savings {
    background: url("img/offerings-savings_2x.png");
    background-size: 85px 85px; }

  .credit-cards {
    background: url("img/offerings-credit-cards_2x.png");
    background-size: 85px 85px; }

  .loans {
    background: url("img/offerings-loans_2x.png");
    background-size: 85px 85px; }

  .retirement {
    background: url("img/offerings-retirement_2x.png");
    background-size: 85px 85px; }

  .business-funding {
    background: url("img/offerings-business-funding_2x.png");
    background-size: 85px 85px; }

  .industry-solutions {
    background: url("img/offerings-industry-solutions_2x.png");
    background-size: 85px 85px; }

  .cash-management {
    background: url("img/offerings-cash-management_2x.png");
    background-size: 85px 85px; }

  .growth-management {
    background: url("img/offerings-growth-management_2x.png");
    background-size: 85px 85px; }

  .global-solutions {
    background: url("img/offerings-global-solutions_2x.png");
    background-size: 85px 85px; }

  .research {
    background: url("img/offerings-research_2x.png");
    background-size: 85px 85px; }

  .banking-categories {
    background: url("img/bg-diamond_2x.png");
    background-size: 154px 64px; }

  /* Forms */
  .form-intro .form-cloud {
    background: url("img/cumulus-cloud_2x.png");
    background-size: 82px 81px; } }
/* Media Queries */
/* ======================= MEDIA QUERIES ===================== */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-header .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 6px;
    font-size: 95%; }

  .navbar .navbar-brand {
    margin: -5px 20px 0 0; } }
@media (min-width: 768px) {
  div.col-sm-7.five-three {
    width: 60% !important; }

  div.col-sm-5.five-two {
    width: 40% !important; }

  #nav-expander {
    display: none; }

  .navbar-brand-mobile {
    display: none; }

  .navbar {
    border-radius: 0; } }
@media (max-width: 1100px) {
  #msform {
    width: 80%; } }
@media (max-width: 767px) {
  .category-menu {
    display: none; }

  .navbar .navbar-brand {
    display: none; }
  .navbar .navbar-brand-mobile {
    height: 28px;
    width: 160px;
    background: url("img/cumulus-logo-white.png") no-repeat;
    margin: 0 0 0 20px;
    display: block; }
  .navbar .login {
    display: none; }

  .navbar-inverse {
    background-color: #2A94D6;
    opacity: 1; }
    .navbar-inverse .navbar-left {
      display: none; }

  .moveOver {
    margin-left: 0px; }

  #msform {
    width: 95%; }

  #msform input[type="text"], #msform input[type="password"], #msform select {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

  #progressbar {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    -webkit-padding-start: 0px;
    width: 90%; }

  #progressbar li {
    list-style-type: none;
    color: #4f4f4f;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative; } }
@media (max-width: 767px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navbar .navbar-brand-mobile {
    background: url("img/cumulus-logo-white_2x.png") no-repeat;
    background-size: 160px 28px; } }
@media (max-width: 980px) {
  .banking-categories, .overview-products {
    padding: 50px 0 0 0; }
    .banking-categories .col-sm-4, .banking-categories .col-sm-6, .banking-categories .col-md-4, .overview-products .col-sm-4, .overview-products .col-sm-6, .overview-products .col-md-4 {
      margin-bottom: 45px; }
    .banking-categories p, .overview-products p {
      min-height: 0; }

  .trending-topics {
    padding: 50px 0 25px 0; }
    .trending-topics .col-md-4 {
      margin-bottom: 45px; }
    .trending-topics p {
      min-height: 0; }

  .inside-intro-content p {
    min-height: 0; }

  .inside-intro-content .col-md-4, .inside-intro-content .col-md-3, .inside-intro-content .col-md-4, .overview-products .col-md-4, .overview-products .col-md-3, .overview-products .col-md-4 {
    margin-bottom: 45px; }
  .inside-intro-content h4, .overview-products h4 {
    min-height: 0; }

  .jumbotron-content {
    margin-top: 95px; }
    .jumbotron-content h1 {
      font-size: 27pt; }

  .app-btns .col-md-4 {
    padding-top: 15px; }

  .footer .newsletter .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    padding: 25px; }
    .footer .newsletter .container .newsletter-icon {
      display: none; }
    .footer .newsletter .container p {
      margin-bottom: 20px;
      text-align: center; } }
@media (max-width: 620px) {
  /* PI Content Recs */
  .igo_boxbody {
    overflow: hidden;
    padding: 15px;
    text-align: center; }
    .igo_boxbody .igo_content {
      float: none;
      width: 100%; }
      .igo_boxbody .igo_content img {
        width: 75%; }
    .igo_boxbody .igo_content_content_title_label,
    .igo_boxbody .igo_content_summary_label {
      display: none; }
    .igo_boxbody .igo_content_content_title_value {
      display: block;
      font-size: 18px;
      font-weight: 600;
      padding: 15px 0 5px 0; } }
